{% extends 'home.html' %}

{% block title %}
    <title>AD管理</title>
{% endblock %}

{% block custom_css %}
    {#    //引入css#}

{% endblock %}

{% block content %}

    <!--page header start-->
    <div class="page-header">
        <div class="row">
            <div class="col-sm-6">
                <h4>AD管理</h4>
            </div>
        </div>
    </div>
    <!--page header end-->
    <!--start page content-->
    <div class="row">
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            批量用户<code>管理</code>
                        </div>
                        <div class="panel-body">
                            <p class="text-muted margin-b-10">创建与更改用户对象</p>
                            <div>
                                <ul>
                                    <li><a href="/creatusers/">创建用户</a></li>
                                    <li><a href="/creatusermail/">创建邮箱</a></li>
                                    <li><a href="/modifyuserattributes/">修改用户属性</a></li>
                                    <li><a href="/modifypasswd/">修改用户密码</a></li>
                                    <li><a href="/moveuser/">移动用户</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div><!--col-md-6-->
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            批量计算机<code>管理</code>
                        </div>
                        <div class="panel-body">
                            <p class="text-muted margin-b-10">创建与更改计算机对象</p>
                            <div>
                                <ul>
                                    <li><a href="/movecomputer/">移动计算机</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div><!--col-md-6-->
        </div>
    <!--end page content-->
    <!--Start footer-->
    <footer class="footer">
        <span>IT &copy; 2019</span>
    </footer>
    <!--end footer-->
    <!-- 模态框（Modal1） -->

{% endblock %}

{% block custom_js %}


{% endblock %}