{% extends 'home.html' %}

{% block title %}
    <title>账号信息查找</title>
{% endblock %}

{% block custom_css %}

    <link href="/static/sweetalert/sweetalert.css" rel="stylesheet">
    <link href="/static/switch/bootstrap-switch.min.css" rel="stylesheet">
    <link href="/static/css/jquery.resizableColumns.css" rel="stylesheet">
    <link href="/static/contextMenu/jquery.contextMenu.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/static/zTreeStyle/zTreeStyle.css" type="text/css">
    <link rel="stylesheet" href="/static/select2/select2.min.css" type="text/css">

    <style>

        .table>thead>tr{
            background: #edf7ff;
        }


    </style>


    <!--template css-->
{% endblock %}

{% block content %}
    <div class="modal fade" id="myModamove" tabindex="-1" role="dialog" aria-labelledby="loginModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel" style="text-align: left">
                        移动用户OU
                    </h4>
                </div>

                <div class="modal-body">
                    <div class="modal-body">
                        <div class="modal-form" >
                            <input style="display: none" id="userdnname">
                            <input  style="display: none" id="oudnname">
                            <ul style="text-align: center" id="treemove" class="ztree"></ul>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                    <input class="btn btn-primary" onclick="savemovetoou()" value="保存" type="submit" >
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <div class="modal fade" id="addusretoModal" tabindex="-1" role="dialog" aria-labelledby="loginModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel" style="text-align: left">
                        添加用户到组
                    </h4>
                </div>
                <div class="modal-body" style="height: 20%">
                    <div class="modal-body form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" style="text-align: right">组名:</label>
                            <div class="col-sm-9">
                                <input style="display: none" id="snamsuser">
                                <select  id="selsgroup" style="width: 100%;" multiple="multiple"></select>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                    <input class="btn btn-primary" onclick="saveusertogroup()" value="保存" type="submit" >
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <div class="modal fade" id="addgroupuserModal" tabindex="-1" role="dialog" aria-labelledby="loginModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel" style="text-align: left">
                        添加成员
                    </h4>
                </div>
                <div class="modal-body" style="height: 20%">
                    <div class="modal-body form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" style="text-align: right">组名:</label>
                            <div class="col-sm-9">
                                <input style="display: none" id="snamsusercouny">
                                <select  id="selsusergroup" style="width: 100%;" multiple="multiple"></select>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                    <input class="btn btn-primary" onclick="savegroupuseron()" value="保存" type="submit" >
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <div class="page-header">
        <div class="row">
            <div class="col-sm-6">
                <h4>Active Directory 搜索</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12" >
            <div class="panel-group accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span aria-hidden="true" class="fa fa-search"></span>
                        查找 用户、联系人及组
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="form-horizontal"  >
                                <div class="form-group" style="margin-top: 30px">
                                    <label class="col-sm-2 col-sm-offset-1 control-label" style="margin-top: 5px">查找（D）:</label>
                                    <div class="col-sm-6">
                                        <select name="sele" id="sele" class="form-control m-b">
                                            <option value="user">用户，联系人及组</option>
                                            <option value="computer">计算机</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group" style="margin-top: 30px">
                                    <label class="col-sm-2 col-sm-offset-1 control-label" style="margin-top: 5px">描述（A）:</label>
                                    <div class="col-sm-6">
                                        <div class="input-group">
                                            <input type="text" id="adaccount" class="form-control">
                                             <input type="text" value="searc" style="display: none" id="idtype" class="form-control">
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" onclick="searchmessage()">搜索</button>
                                            </span>
                                        </div>
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div id="startchange">
                        <hr>
                        <div class="panel-heading">
                            <h4>搜索结果(S)<sub><span id="counts" style="color: #bb0000"></span></sub></h4>
                        </div>
                        <div>
                            <div class="panel-body " id="paneltable" style="padding:0;padding-left: 80px;padding-right: 80px">
                                <table class="table table-hover table-bordered"  id="table">
                                    <thead>
                                    <tr>
                                        <th class="table-bordered" data-resizable-column-id="name" style="width: 150px">账号</th>
                                        <th class="table-bordered" data-resizable-column-id="name" >显示名称</th>
                                        <th class="table-bordered" data-resizable-column-id="first_name">描述</th>
                                        <th class="table-bordered" data-resizable-column-id="last_name">类型</th>
                                        <th class="table-bordered" data-resizable-column-id="username" >路径</th>
                                    </tr>
                                    </thead>
                                    <tbody id="searchuser">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block custom_js %}
    <script src="/static/sweetalert/sweetalert.min.js"></script>
    <script src="/static/switch/bootstrap-switch.min.js"></script>
    <script src="/static/js/store.js"></script>
    <script src="/static/js/jquery.resizableColumns.min.js"></script>
    <script src="/static/js/jquery.contextMenu.min.js"></script>
    <script type="text/javascript" src="/static/zTreeStyle/jquery.ztree.all.min.js"></script>
    <script src="/static/select2/select2.full.min.js"></script>
    <script src="/static/select2/zh-CN.js"></script>
    <script type="text/javascript" src="/static/js/conment.js"></script>

{% endblock %}